.features-continer{
    display: flex;
    justify-content: space-evenly;
  }
  .features-logo{
    height: 50px;
    object-fit: contain;
  }
  .features-card{
    display: flex;
    flex-direction: column;
    justify-content:center;
  }
  .features-logo:hover{
    transition: 0.3s;
    transform: scale(1.04);
  }
  .card-info{
    font-size: 1.2em;
    font-weight: 500;
    color: #ffffff;
  }