.web-title{
  font-size: 6.5vw;
  font-weight: 1000;
  font-family: "Archivo Black", sans-serif;   


}
.hedding-continer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    
    
}
.img{
  color: #fff;
    height:78px;
}
.title-info{
  font-size: 1.2em;
  color: rgb(83, 74, 74);
}