.web-title{
  font-size: 6.5em;
  font-weight: 1000;
  font-family: "Archivo Black", sans-serif;   
  color: #1E201E;


}
.hedding-continer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
    
}
.title-img{
  height: 10vh;
  
}
.img{
  color: #f1efef;
    height:78px;
}
.title-info{
  font-size: 1.2em;
  color: #3C3D37;
}
.hight-light{
  background-color:  #ffffff;
  color: #000000;
}
.btn-continer{
  display: flex;
  justify-content: center;
  margin:15vh 0 ;
}
.btn{
  padding: 2vh 5vw;
  font-size: 1.1em;
  font-weight: 600;
  border-radius: 10px;
  border: none;
  margin: 0 6vh;
  cursor: pointer;
}
.btn-fist{
  background-color: #C8A1E0;
 
}
.btn-second{
  background-color: aqua;
}
.logo{
  height: 25px;
}
