*{
  padding: 0;
  margin: 0;
}



.text-center{
  text-align: center;
  font-weight:1000;
}
body{
  margin: 0;
  padding: 0;
  height: 100vh;
  background: linear-gradient(to top, #242222,#ffffff);
}
@media screen and (max-width:500px) {
  body{
    padding: 0;
    margin: 0px;
    height: 100vh;
  }
  .hedding-continer{
    padding: 10px;
  }
  img.img{
    height: 58px;
  }
  h1.text-center.web-title {
    font-size: 3em;
  }
  h6.text-center.title-info{
    padding: 5px;
    font-size: 1em;
  } 
  .btn-continer{
    display: flex;
    align-items: center;
    flex-direction: column;
 
  }
   button.btn.btn-fist{
    padding: 2vh 16vw;
  }

  button.btn.btn-second{
    margin-top: 30px;
    padding: 2vh 20vw;
  }
}